absl-py
accelerate
aiohttp
aiosignal
anyio
appdirs
arrow
asttokens 
astunparse
async-timeout
attrs
backcall 
binaryornot
bitsandbytes
black
Brotli
cachetools
certifi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
cookiecutter
cycler
DataProperty
datasets
debugpy 
decorator 
dill
evaluate
exceptiongroup 
executing 
fastjsonschema
filelock
fire
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
huggingface-hub
humanfriendly
humanize
idna
importlib-metadata 
importlib-resources
inflate64
ipykernel 
ipython 
ipyvue
ipyvuetify
ipywidgets
jedi 
Jinja2
joblib
jsonlines
jsonschema
jsonschema-specifications
jupyter_client 
jupyter_core 
jupyterlab-widgets
keras
kiwisolver
libclang
loralib
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline 
mbstrdecoder
mdurl
Mesa
Mesa-Viz-Tornado
ml-dtypes
mpmath
multidict
multiprocess
multivolumefile
mypy-extensions
nbformat
nest-asyncio 
networkx
nltk
numexpr
numpy
oauthlib
opt-einsum
optimum
packaging 
pandas
parso 
pathspec
pathvalidate
peft
pexpect 
pickleshare 
Pillow
platformdirs 
portalocker
prompt-toolkit 
protobuf
psutil 
pure-eval 
py7zr
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pybcj
pybind11
pycryptodomex
Pygments 
pymdown-extensions
pyparsing
pyppmd
pytablewriter
python-dateutil 
python-slugify
pytorch-triton
pytz
PyYAML
pyzmq 
pyzstd
reacton
referencing
regex
requests
requests-oauthlib
responses
rich
rich-click
rouge_score
rpds-py
rsa
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
six 
sniffio
solara
sqlitedict
stack-data 
starlette
sympy
tabledata
tabulate
tcolorpy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
text-unidecode
texttable
threadpoolctl
tokenize-rt
tokenizers
tomli
torch
tornado 
tqdm
tqdm-multiprocess
traitlets
transformers
triton
typepy
types-python-dateutil
typing_extensions 
tzdata
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
Werkzeug
widgetsnbextension
wrapt
xxhash
yarl
zipp 
zstandard
