absl-py
accelerate
aiohttp
aiosignal
anyio
appdirs
arrow
astunparse
async-timeout
attrs
binaryornot
bitsandbytes
black
Brotli
cachetools
certifi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
cookiecutter
cycler
DataProperty
datasets
dill
evaluate
fastjsonschema
filelock
fire
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
huggingface-hub
humanfriendly
humanize
idna
importlib-resources
inflate64
ipyvue
ipyvuetify
ipywidgets
Jinja2
joblib
jsonlines
jsonschema
jsonschema-specifications
jupyterlab-widgets
keras
kiwisolver
libclang
loralib
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mbstrdecoder
mdurl
Mesa
Mesa-Viz-Tornado
ml-dtypes
mpmath
multidict
multiprocess
multivolumefile
mypy-extensions
nbformat
networkx
nltk
numexpr
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
opt-einsum
optimum
pandas
pathspec
pathvalidate
peft
Pillow
portalocker
protobuf
py7zr
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pybcj
pybind11
pycryptodomex
pymdown-extensions
pyparsing
pyppmd
pytablewriter
python-slugify
pytorch-triton
pytz
PyYAML
pyzstd
reacton
referencing
regex
requests
requests-oauthlib
responses
rich
rich-click
rouge_score
rpds-py
rsa
sacrebleu
safetensors
scikit-learn
scipy
sentencepiece
sniffio
solara
sqlitedict
starlette
sympy
tabledata
tabulate
tcolorpy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
text-unidecode
texttable
threadpoolctl
tokenize-rt
tokenizers
tomli
torch
tqdm
tqdm-multiprocess
traitlets
transformers
triton
typepy
types-python-dateutil
tzdata
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
Werkzeug
widgetsnbextension
wrapt
xxhash
yarl
zstandard
